<div class="clearfix">
  <nz-upload
    [nzCustomRequest]="imageUpload"
    nzAction="http://localhost:8080/upload-product-info"
    nzListType="picture-card"
    nzName="upload_file"
    [nzFileList]="fileList"
    [nzShowUploadList]="showUploadList"
    [nzPreview]="handlePreview"
  >
    <i nz-icon nzType="plus"></i>
    <div class="ant-upload-text">Upload</div>
  </nz-upload>

  <nz-modal
    [nzVisible]="previewVisible"
    [nzContent]="modalContent"
    [nzFooter]="null"
    (nzOnCancel)="previewVisible = false"
  >
    <ng-template #modalContent>
      <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
    </ng-template>
  </nz-modal>
</div>
