<nz-page-header>
  <nz-page-header-title>商品列表</nz-page-header-title>
  <nz-page-header-extra>
    <button nz-button nzType="primary" routerLink="/workspace/product/add">
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      新增商品
    </button>
  </nz-page-header-extra>
</nz-page-header>
<div class="content">
  <div class="table-wrapper">
    <nz-table #productsAddTable
              nzShowSizeChanger
              nzShowPagination
              [nzFrontPagination]="false"
              [nzData]="products"
              [(nzPageIndex)]="pageIndex"
              [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="search()"
              (nzPageSizeChange)="search()"
              [nzTotal]="totalPages * pageSize"
              [nzLoading]="isLoading">
      <thead>
      <tr>
        <th nzWidth="120px">编号</th>
        <th nzWidth="120px">商品</th>
        <th nzWidth="120px">分类</th>
        <th nzWidth="120px">售价</th>
        <th nzRight="120px">状态</th>
        <th nzRight="120px">添加时间</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let data of productsAddTable.data">
        <td>
          {{ data.id }}
        </td>
        <td>
          {{ data.name }}
        </td>

        <td>
          {{ data.classificationName }}
        </td>

        <td>
          {{ data.price / 100}}
        </td>

        <td>
          <nz-tag nzColor="{{data.status | product_status_color}}">
            {{ data.status | product_status}}
          </nz-tag>
        </td>

        <td>
          {{ data.createdAt }}
        </td>

        <td>
          <a routerLink="/workspace/product/info/{{ data.id }}">查看</a>
          <a style="margin-left: 5px"
             class="abandon"
             [class.disabled]="data.status === 2"
             nz-popconfirm
             nzPopconfirmTitle="确认删除?"
             nzPopconfirmPlacement="top"
             (nzOnConfirm)="confirmAbandon(data.id)">
            废弃
          </a>
        </td>
      </tr>

      </tbody>
    </nz-table>
  </div>

</div>
